<html>
  <head>
    <title><%= title%></title>
    <meta property="og:title" content="<%= title%>" />
    <meta property="og:description" content="<%= description%>" />
    <meta property="og:type" content="image/png" />
    <meta property="og:url" content="<%= url%>" />
    <meta property="og:image" content="<%= image%>" />
  </head>
  <body style="display: flex; justify-content: center; align-items: center; flex-direction: column">
    <h3>Preview image (<%= title%>)</h3>
    <h5><%= description%></h5>
    <img src="<%= image%>" />
  </body>
</html>
